---
layout: layouts/base.njk
---

{%- import "../macros.njk" as macros -%}
{%- set _tags = macros.tag_list(tags, category) -%}

<h1>{{ title }}</h1>

<article>
  <div>
    {{ content | safe }}
  </div>

  <footer>
    <dl>
      <dt>Tags:</dt>
      <dd>{{ _tags }}</dd>

      <dt>Date:</dt>
      <dd>{{ page.date }}</dd>
    </dl>
  </footer>
</article>
